* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.heroes {
  display: flex;
  justify-content: center;
  
}
header {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  box-shadow: 6px 6px 6px rgb(16, 18, 18);
  border-radius: 8px;
  border: solid;
  padding: 6px;
  margin: 6px;
}
a:link { text-decoration: none;
}
a:visited {
text-decoration: none;
}

#next, #next2 {
  background-color: #789;
}
 
.navUl:hover > :not(:hover) {
  opacity: 0.2;
}

.navLi {
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  box-shadow: 6px 6px 6px rgb(16, 18, 18);
  border-radius: 8px;
  border: none;
  padding: 6px;
  margin: 6px;
  transition: 0.3s;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif; 
  box-shadow: 6px 6px 6px rgb(16, 18, 18);
  border-radius: 8px;
  border: solid;
  padding: 6px;
  margin: 6px;
 
  
}
.section404 {
  display: flex;
  justify-content: center;
}
img {
  border-radius: 8px;
  box-shadow: 6px 6px 6px rgb(16, 18, 18);
  width: 600px;
  height: 600px;
  object-fit: cover;
}
img:hover {
  transform: scale(1.01);
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  box-shadow: 6px 6px 6px rgb(16, 18, 18);
  border-radius: 8px;
  border: solid;
  padding: 6px;
  margin: 6px;
  margin-top: 10px;
}

.tarjetas {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  box-shadow: 6px 6px 6px rgb(16, 18, 18);
  border-radius: 8px;
  border: solid;
  padding: 6px;
  margin: 6px;
  object-fit: cover;
  
}
.tarjetas > img {
  width: 100%;
  height: 100%;
}

.nombres {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding: 6px;
  margin: 6px;
}

.nombres:hover > :not(:hover) {
  opacity: 0.2;
}

body.dia {
  background-color: rgba(#FFFFFF);
  color: #272727;
}

body.noche {
  background-color: rgb(34, 34, 34);
  color: #f1f1f1;
}
