<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/assent/angulo-derecho.png">

</head>

<body>
   <a href="https://playground.digitalhouse.com/course/e836e6e6-d89d-4b93-b607-d3c464f5c610/units" target="_blank"> <h1 class="heroes">🧙‍♂️ digitalHouse C21 && Group 2</h1></a>
    <header>
        <nav class="navUl">
            <a class="navLi" id="next" href="/views/404.html"></a>
            <a class="navLi" id="modo">🌓</a>
            <a class="navLi" href="/views/index.html">Home</a>
            <a class="navLi" href="/views/404.html">404</a>
            <a class="navLi" id="next2" href="/views/404.html"></a>
        </nav>
    </header>
    <div class="nombres">
        <a href="https://github.com/EricM76" target="_blank"><h2>Eric Mena</h2></a> 
        <a href="https://github.com/IsmaelAxel" target="_blank"><h2>Ismael Callamullo</h2></a>
        <a href="https://github.com/jorgitoluis" target="_blank"><h2>Jorge Olea</h2></a>
        <a href="https://github.com/Wilsonc7" target="_blank"><h2>Wilson Carrizo</h2></a>
        <a href="https://github.com/gastonutn" target="_blank"><h2>Gaston Gomez</h2></a>
        <a href="https://github.com/Aubar48" target="_blank"><h2>Nahuel Argandoña</h2></a>
    </div>

    <figure class="tarjetas">
        <img src="/img/profe.jpg" alt="nahuel imagen">
        <img src="/img/ismael.jpg" alt="ismael imagen">
        <img src="/img/jorgito.jpg" alt="jorgito imagen">
        <img src="/img/wilson.jpg" alt="wilson imagen">
        <img src="/img/gaston.jpg" alt="gaston imagen">
        <img src="/img/nahues.jpg" alt="nahuel imagen">
    </figure>

    <div class="nombres">
        <a href="https://trello.com/b/RdGmfW7u/proyecto-integrador" target="_blank"><h2>Product Owner  Eric</h2></a>
        <a href="https://github.com/IsmaelAxel/Grupo_2_PlayOnCave" target="_blank"><h2>Scrum Master Isamel</h2></a>
        <a href="https://www.figma.com/file/MzfNYvCD1cL1HGSoJSAh0Z/Untitled?type=design&node-id=0%3A1&t=dSWg9S1X9LLjJzBR-1" target="_blank"><h2>Developer Jorgito</h2></a>
        <a href="https://www.figma.com/file/eRdBmimYEZCccWD1x5mCpZ/poc?type=design&node-id=0%3A1&t=MDOxrCj2I8AoxdVJ-1" target="_blank"><h2>Developer Wilson</h2></a>
        <a href="https://www.figma.com/file/RW8FyVoqbJwW3XnZpv05zc/trainingShopMobile?type=design&node-id=0-1&t=P3hZtusNqv76Nulm-0" target="_blank"><h2>Developer Gaston</h2></a>
        <a href="https://www.figma.com/file/B4thCqLC0jV4tDXbOdlYUp/POC?type=design&node-id=0-1&t=VEhST4YOvo8qyzTW-0" target="_blank"><h2>Developer Nahuel </h2></a>
    </div>

    <figure class="tarjetas">
        <img src="/img/trellow.jpg" alt="profesor imagen"> 
        <img src="/img/gitHubIsmael.png" alt="ismael imagen">
        <img src="/img/pocJorgito.png" alt="jorgito imagen">
        <img src="/img/pocWilson.png" alt="wilson imagen">
        <img src="/img/pocGaston.png" alt="gaston imagen">
        <img src="/img/pocNahuel.png" alt="nahuel imagen">
    </figure>

    <footer>
       <a href="https://www.linkedin.com/in/aubar48/" target="_blank"><p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p></a> 
    </footer>

    <audio src="/assent/song.mp3" autoplay loop></audio>
    <script src="/js/index.js"></script>
</body>

</html>